.html5Audio {
    position: absolute;
    width: 61px;
}

.h5aControls {
}

.h5aSong {
    overflow: hidden;
}

.h5aSongSlider {
    position: relative;
}

.h5aSong p {
    
}

.h5aPlayPause {
    float: left;
}

.h5aVolume {
    
}

.h5aPlayBtn {
    position: absolute;
}

.h5aPauseBtn {
    
}

.h5aMuteBtn {
    
}

.h5aDeactivated .h5aPauseBtn {
    opacity: 0;
}

.h5aPlaying .h5aPauseBtn {
    opacity: 1;
}

.h5aPlaying .h5aPlayBtn {
    opacity: 0;
}

.h5aPaused .h5aPauseBtn {
    opacity: 0;
}

.h5aPaused .h5aPlayBtn {
    opacity: 1;
}